/vs2010/Release.dll/**/*
/vs2010/Release.dll/*
/vs2010/Debug.dll/**/*
/vs2010/Debug.dll/*
/vs2010/ipch/**/*
/vs2010/ipch/*
/vs2010/bin/**/*
/vs2010/bin/*
/vs2010/obj/**/*
/vs2010/obj/*
/vs2008/Release/**/*
/vs2008/Release/*
/vs2008/Debug/**/*
/vs2008/Debug/*
/vs2008/Debug/**/*
/vs2008/Debug/*
/vs2008/bin/**/*
/vs2008/bin/*
/vs2008/obj/**/*
/vs2008/obj/*
/vs2008/bin.dbg/**/*
/vs2008/bin.dbg/*
/**/*.vcxproj.user
/**/*.opensdf
/**/*.sdf
/**/*.sln.docstates.suo
/**/*.suo
/**/*.user
/**/*.ncb